
// * {
//   -webkit-user-select: none;
//   user-select: none;
//   margin: 0;
// }

html, body {
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

// canvas {
//   margin: 0 auto;
//   display: block;
// }

#srcCanvas {
	z-index: 1;
	opacity: 1;
	position: absolute;
}

#dstCanvas {
	z-index: 0;
	position: absolute;
}
